div {
	min-height: 300px;
	width: 350px;
	padding: 10px;
	background-color: beige;
}

#submit {
	text-align: center;
}

.textbox {
	width: 40px;
	height: 15px;
}

div div {
	border: 1px solid;
	min-height: 165px;
	width: 300px;
	position: relative;
}

div div p {
	color: blue;
	padding: 2px;
}

#error {
	color: red;
}
