div {
	height: 500px;
	width: 350px;
	padding: 3px;
	background-color: beige;
}

div div {
	border: 1px solid;
	height: 165px;
	width: 300px;
	position: relative;
}

div div p {
	color: blue;
	padding: 2px;
}
